<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => array(
                    'host' => 'host',
                    'port' => '5432',
                    'user' => 'username',
                    'password' => 'password',
                    'dbname' => 'dbname',
                    'driverOptions' => array(),
                ),
            ),
        ),
    ),
);